<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="main.css">
        <title>Etsy</title>
    </head>

    <body>

        <div class="Navbar">
         <ul>
            <li>Clothing & Accessories</li>
            <li>Jewelry</li>
            <li>Craft Supplies & Tools</li>
            <li>Weddings</li>
            <li>Entertainment</li>
            <li>Home & Living</li>
            <li>Kids & Baby</li>
            <li>Vintage</li>
         </ul>
        </div>

   <div class="body">
     <div class="left-side-bars">
       <p class="side_nav_title">Show results for:</p>

        <div class="sidenavbar">
          <p><b>All Categories</b>.</p>
          <ul>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
          </ul>
        </div>

        <p class="side_nav_title2">Refine your search</p>

        <div class="sidenavbar2">
          <ul>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
          </ul>
        </div>
    </div>
    
        <div class="items">
          <% results.each do |result| %>
            <%= erb :listing, locals: { result: result} %>
          <% end %>
        </div>
  </div>
</body>
</html>







