<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="main.css">
        <title>Etsy</title>
    </head>

    <body>

        <div class="Navbar">
         <ul>
            <li>Clothing & Accessories</li>
            <li>Jewelry</li>
            <li>Craft Supplies & Tools</li>
            <li>Weddings</li>
            <li>Entertainment</li>
            <li>Home & Living</li>
            <li>Kids & Baby</li>
            <li>Vintage</li>
         </ul>
        </div>

       <!--  <span class="sidetitle">
        <span>Show results for:</span>
        </span> -->

        <div class="sidenavbar">
         <ul>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
         </ul>
        </div>

      <!--   <span class="sidetitle2">
        <span>Refine your search</span>
        </span> -->
        <!-- <h5 class="sidetitle2">Refine your search</h5> -->
        <div class="sidenavbar2">
         <ul>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
            <li>Stuff</li>
         </ul>
        </div>
    
        <ul class="items">
          <% results.each do |result| %>
            <%= erb :listing, locals: { result: result} %>
          <% end %>
        </ul>

    </body>
</html>







